header{
    display: flex;
    justify-content: space-between;
    margin-right: 35px;
}

.logo{
    width: 10rem;
}

.links-container{
    display: flex;
    gap: 32px;
    margin-top: 20px;
}

.links-container a{
    text-shadow: 2px 2px 2px black;
    padding: 6px;
    transition: all 1s;
    font-size: 2rem;
}

.links-container a:hover{
    background-color: #e62721;
}
@media (max-width:768px){
    .links-container{
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        font-size: 2.5rem;
        background-color: black;
        transform: translateX(100%);
        opacity: 0;
        z-index: 1;
        transition: all 1s;
    }

    .menu-burger-container.active ~ .links-container{
        opacity: 1;
        transform: translateX(0%);
    }
}

header a{
    margin-top: 15px;
}
